server:
  port: 8080


---
spring:
  profiles: default
  jpa:
    properties:
      hibernate:
        show_sql: true
        format_sql: true

logging:
  level:
    org.hibernate.type: trace
    org.springframework.cloud: debug
server:
  port: 8088
---
spring:
  profiles: docker
